<!DOCTYPE html>
<html lang="en" ng-app="calendarDemoApp" id="top">

  <head>
    <title>Event Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" />

    <link rel="stylesheet" href="vendor.css" />
    <link rel="stylesheet" href="calendarDemo.css" />

    <script src="vendor.js"></script>
    <script src="calendarDemo.js"></script>

  </head>

  <body data-spy="scroll" ng-controller="NavCtrl">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

          <a class="navbar-brand" href="" ng-click="loadCalendar()"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Event Calendar</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li ng-class="navClass('calendar')"><a href="" ng-click="loadCalendar()">Calendar <span class="sr-only">(current)</span></a></li>
            <li ng-class="navClass('about')"><a href="" ng-click="loadAbout()">About</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <div role="main">
      <div class="container-fluid">
        
        <div ng-view></div>

        <!-- Calendar View -->
        <script type="text/ng-template" id="/calendar.html">

          <div class="row">

            <div class="col-md-10 col-md-push-1">

              <div class="calendar" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar"></div>

            </div>

          </div>
        </script>

        <!-- About View -->
        <script type="text/ng-template" id="/about.html">
          <div class="row">

            <div class="col-md-10 col-md-push-1 ">
            
            <h2>What is this</h2>
            <p>This is a calendar web app where you can add, edit and remove events.</p>

            <h2>How to use</h2>
            <p>Click or drag on the empty space of the date boxes of the Calendar to add new event. To edit/remove an event click the event.</p>
            
            </div>

          </div>
        </script>

        <!-- Event View Form -->
        <script type="text/ng-template" id="/events.html">

          <div class="row">

            <div class="col-md-8 col-md-push-2">
              <form>
                <legend>Event Details</legend>
                <div class="form-group ">
                  <label class="control-label " for="title">
           Title
          </label>
                  <input ng-model="eventData.title" class="form-control" id="title" name="title" type="text" />
                </div>
                <div class="form-group ">
                  <label class="control-label " for="start">
           Start Date
          </label>
                  <input ng-model="eventData.start" class="form-control" id="start" name="start" type="text" />
                </div>
                <div class="form-group ">
                  <label class="control-label " for="end">
           End Date
          </label>
                  <input ng-model="eventData.end" class="form-control" id="end" name="end" type="text" />
                  <small class="hint">* End date is exclusive in the date range.</small>
                </div>
                <div class="form-group ">
                  <label class="control-label " for="info">
           Details
          </label>
                  <textarea ng-model="eventData.info" class="form-control" cols="40" id="info" name="info" rows="5"></textarea>
                </div>
                <div class="form-group ">
                  <label class="control-label " for="color">
           Color
          </label>
                  <input ng-model="eventData.color" class="form-control" id="color" name="color" type="text" />
                  <small class="hint">* Valid HTML color. Like: red, #eee, #FFEE00.</small>
                </div>


                <div class="form-group">
                  <div>
                    <button ng-click="Cancel()" class="btn">Cancel</button>
                    <button ng-hide="newEvent" ng-click="Delete()" class="btn btn-danger">Delete</button>
                    <button ng-click="Save()" class="btn btn-primary ">
            Save
           </button>
                  </div>
                </div>
              </form>
            </div>

          </div>

        </script>

      </div>
    </div>

    <footer>
      <p><small>Ninjutsu by Raziur Rahman, 2017.  ;-) </small></p>
    </footer>
  </body>

</html>